<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta charset="utf-8">
    <title>智慧养老系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
     <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link href="https://cdn.bootcss.com/leaflet/1.5.1/leaflet.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/leaflet/1.5.1/leaflet.js"></script>
        <style>
            #mapid,body {
                margin: 0;
                padding: 0;
                border: none;
            }
            #mapid {
                height: 100vh;
                width: 100vw;
            }
            #label {
                position: absolute;
                top: 110px;
                left: 30px;
                width: 120px;
                z-index: 10000;
                background: #03A9F4;
                padding: 5px;
            }
            .label {
                width: 100%;
                height: 30px;
            }
            .label-color {
                width: 20px;height: 20px;background: #800026;display: inline-block;float:left;
            }
        </style>
  <style>
* {
margin: 0;
padding: 0;
}
ul, ol {
list-style: none;
}
body {
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
sans-serif;
}
        .tab-head {
margin-left: 120px;
margin-bottom: 10px;
}
        .tab-content {
clear: left;
display: none;
}
h2 {
border-bottom: solid #02aaf1 2px;
width: 200px;
height: 25px;
margin: 0;
float: left;
text-align: center;
font-size: 16px;
}
        .selected {
color: #FFFFFF;
background-color: #02aaf1;
}
        .show {
clear: left;
display: block;
}
        .hidden {
display: none;
}
        .new-btn-login-sp {
padding: 1px;
display: inline-block;
width: 75%;
}
        .new-btn-login {
background-color: #02aaf1;
color: #FFFFFF;
font-weight: bold;
border: none;
width: 100%;
height: 30px;
border-radius: 5px;
font-size: 16px;
}
#main {
width: 100%;
margin: 0 auto;
font-size: 14px;
}

        .red-star {
color: #f00;
width: 10px;
display: inline-block;
}
        .null-star {
color: #fff;
}
        .content {
margin-top: 5px;
}
        .content dt {
width: 100px;
display: inline-block;
float: left;
margin-left: 20px;
color: #666;
font-size: 13px;
margin-top: 8px;
}
        .content dd {
margin-left: 120px;
margin-bottom: 5px;
}
        .content dd input {
width: 85%;
height: 28px;
border: 0;
-webkit-border-radius: 0;
-webkit-appearance: none;
}
#foot {
margin-top: 10px;
position: absolute;
bottom: 15px;
width: 100%;
}
        .foot-ul {
width: 100%;
}
        .foot-ul li {
width: 100%;
text-align: center;
color: #666;
}
        .note-help {
color: #999999;
font-size: 12px;
line-height: 130%;
margin-top: 5px;
width: 100%;
display: block;
}
#btn-dd {
margin: 20px;
text-align: center;
}
        .foot-ul {
width: 100%;
}
        .one_line {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #eeeeee;
width: 100%;
margin-left: 20px;
}
        .am-header {
display: -webkit-box;
display: -ms-flexbox;
display: box;
width: 100%;
position: relative;
padding: 7px 0;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
background: #1D222D;
height: 50px;
text-align: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
box-pack: center;
-webkit-box-align: center;
-ms-flex-align: center;
box-align: center;
}
        .am-header h1 {
-webkit-box-flex: 1;
-ms-flex: 1;
box-flex: 1;
line-height: 18px;
text-align: center;
font-size: 18px;
font-weight: 300;
color: #fff;
}
</style>
           <meta charset="utf-8"><link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
			<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
     <meta charset="utf-8"><link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            /* css 代码  */
        </style>
        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <title>Title</title>
</head>

<body data-type="generalComponents">

    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
          <h2 color = "#6495ED">智慧养老系统</h2>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>



        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">


            </ul>
        </div>
    </header>







    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                   <li class="tpl-left-nav-item">
                        <a href="/teacher_index" class="nav-link">
                            <i class="am-icon-home"></i>
                            <span>系统首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/data" class="nav-link active">
                            <i class="am-icon-bar-chart"></i>
                            <span>数据统计</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/jxjh" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>项目申报</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/paike_js" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>年度评分</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/xscj" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>出访活动查看</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/xslb" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>出访信息服务</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>





        <div class="tpl-content-wrapper">

            <div class="tpl-portlet-components">
                <div class="portlet-title">
      <div id="main">
    <div id="tabhead" class="tab-head">
        <h2 id="tab1" class="selected" name="tab">出访次数统计</h2>
        <h2 id="tab2"  name="tab">出访国家统计</h2>
        <h2 id="tab3"  name="tab">出访单位统计</h2>
    </div>
    <form name=alipayment action="" method=post>
        <div id="body1" class="show" name="divcontent">
            <dl class="content">

                 <div id="container1" style="min-width:400px;height:400px"></div>
        <script>
                   var chart = Highcharts.chart('container1',{
            chart: {
                type: 'column'
            },
            title: {
                text: '全校历年出访数'
            },
            xAxis: {
                categories: [
                    '2012','2013','2014','2015','2016','2017','2018','2019','2020'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '出访次数'
                }
            },
            tooltip: {
                // head + 每个 point + footer 拼接成完整的 table
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    borderWidth: 0
                }
            },
            series: [{
                name: '该年度出访次数',
                data: [52, 43, 73, 44, 77, 102, 87, 40, 13]
            }]
        });
        </script>
            </dl>
        </div>
    </form>
    <form name=alipayment action="" method=post>
        <div id="body2"  class="tab-content" name="divcontent" style="height: 100%" >
            <dl class="content">

<select>
  <option value="volvo">2010</option>
  <option value="volvo">2011</option>
  <option value="saab">2012</option>
  <option value="opel">2013</option>
  <option value="audi">2014</option>
  <option value="volvo">2015</option>
  <option value="saab">2016</option>
  <option value="opel">2017</option>
  <option value="audi">2018</option>
  <option value="audi">2019</option>
</select>

<div id="main1" style="width: 1200px;height:600px;border:1px solid #ccc"></div>
<script src="E://temp/html/echarts.min.js"></script>
<script src="E://temp/html/world.js"></script>
                	<script type="text/javascript">
   var myChart = echarts.init(document.getElementById('main1'));
        option = {
            title: {


                sublink: 'http://esa.un.org/wpp/Excel-Data/population.html',
                left: 'center',
                top: 'top'
            },
            tooltip: {
           /*鼠标滑过显示提示内容*/
                trigger: 'item',
                formatter: function (params) {
                    var value = (params.value + '').split('.');
                    value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,')
                            ;
                    return params.seriesName + '<br/>' + params.name + ' : ' + value;
                }
            },
            visualMap: {
                min: 0,
                max: 100,
                text:['High','Low'],
                realtime: false,
                calculable: true,
                color: ['orangered','yellow','lightskyblue']
            },
            series: [
                {
                    name: 'In this year(2010)',
                    type: 'map',
                    mapType: 'world',
                    roam: true,
                    itemStyle:{
                        emphasis:{label:{show:true}}
                    },
                    data: [
                    {name: 'Afghanistan', value: 28},
                    {name: 'Angola', value: 1},
                    {name: 'Albania', value: 1},
                    {name: 'United Arab Emirates', value: 1},
                    {name: 'Argentina', value: 1},
                    {name: 'Armenia', value: 1},
                    {name: 'French Southern and Antarctic Lands', value:1},
                    {name: 'Australia', value: 10},
                    {name: 'Austria', value: 1},
                    {name: 'Azerbaijan', value: 0},
                    {name: 'Burundi', value: 0},
                    {name: 'Belgium', value: 0},
                    {name: 'Benin', value: 0},
                    {name: 'Burkina Faso', value: 0},
                    {name: 'Bangladesh', value: 0},
                    {name: 'Bulgaria', value: 0},
                    {name: 'The Bahamas', value: 0},
                    {name: 'Bosnia and Herzegovina', value: 0},
                    {name: 'Belarus',value: 0},
                    {name: 'Belize', value: 0},
                    {name: 'Bermuda', value: 0},
                    {name: 'Bolivia', value: 0},
                    {name: 'Brazil', value: 0},
                    {name: 'Brunei', value: 0},
                    {name: 'Bhutan',value: 0},
                    {name: 'Botswana', value: 0},
                    {name: 'Central African Republic',value: 0},
                    {name: 'Canada', value: 0},
                    {name: 'Switzerland', value: 0},
                    {name: 'Chile', value: 0},
                    {name: 'China', value: 20},
                    {name: 'Ivory Coast', value: 0},
                    {name: 'Cameroon',value: 0},
                    {name: 'Democratic Republic of the Congo', value: 0},
                    {name: 'Republic of the Congo', value: 0},
                    {name: 'Colombia',value: 0},
                    {name: 'Costa Rica',value: 0},
                    {name: 'Cuba', value: 0},
                    {name: 'Northern Cyprus',value: 0},
                    {name: 'Cyprus',value: 0},
                    {name: 'Czech Republic', value: 0},
                    {name: 'Germany', value: 0},
                    {name: 'Djibouti', value: 0},
                    {name: 'Denmark',value: 0},
                    {name: 'Dominican Republic', value: 0},
                    {name: 'Algeria', value: 0},
                    {name: 'Ecuador', value: 0},
                    {name: 'Egypt', value: 0},
                    {name: 'Eritrea', value: 0},
                    {name: 'Spain', value: 0},
                    {name: 'Estonia', value: 0},
                    {name: 'Ethiopia', value: 0},
                    {name: 'Finland', value: 0},
                    {name: 'Fiji', value: 0},
                    {name: 'Falkland Islands',value: 0},
                    {name: 'France',value: 0},
                    {name: 'Gabon', value: 0},
                    {name: 'United Kingdom', value: 0},
                    {name: 'Georgia', value: 0},
                    {name: 'Ghana',value: 0},
                    {name: 'Guinea', value: 0},
                    {name: 'Gambia', value: 0},
                    {name: 'Guinea Bissau', value: 0},
                    {name: 'Equatorial Guinea', value: 0},
                    {name: 'Greece', value: 0},
                    {name: 'Greenland',value: 0},
                    {name: 'Guatemala', value: 0},
                    {name: 'French Guiana', value: 0},
                    {name: 'Guyana', value: 0},
                    {name: 'Honduras', value: 0},
                    {name: 'Croatia',value: 0},
                    {name: 'Haiti', value: 0},
                    {name: 'Hungary', value: 0},
                    {name: 'Indonesia', value: 0},
                    {name: 'India', value: 3},
                    {name: 'Ireland',value: 1},
                    {name: 'Iran', value: 0},
                    {name: 'Iraq', value: 1},
                    {name: 'Iceland', value: 0},
                    {name: 'Israel',value: 0},
                    {name: 'Italy', value: 5},
                    {name: 'Jamaica',value: 0},
                    {name: 'Jordan', value: 0},
                    {name: 'Japan', value: 7},
                    {name: 'Kazakhstan',value: 0},
                    {name: 'Kenya',value: 0},
                    {name: 'Kyrgyzstan', value: 0},
                    {name: 'Cambodia', value: 0},
                    {name: 'South Korea',value: 0},
                    {name: 'Kosovo', value: 0},
                    {name: 'Kuwait', value: 0},
                    {name: 'Laos',value: 0},
                    {name: 'Lebanon', value: 0},
                    {name: 'Liberia', value: 0},
                    {name: 'Libya',value: 0},
                    {name: 'Sri Lanka', value: 0},
                    {name: 'Lesotho',value: 0},
                    {name: 'Lithuania', value: 0},
                    {name: 'Luxembourg',value: 0},
                    {name: 'Latvia', value: 0},
                    {name: 'Morocco',value: 0},
                    {name: 'Moldova', value: 0},
                    {name: 'Madagascar', value: 0},
                    {name: 'Mexico', value: 0},
                    {name: 'Macedonia',value: 0},
                    {name: 'Mali', value: 0},
                    {name: 'Myanmar', value: 0},
                    {name: 'Montenegro',value: 0},
                    {name: 'Mongolia', value: 0},
                    {name: 'Mozambique',value: 0},
                    {name: 'Mauritania', value: 0},
                    {name: 'Malawi', value: 0},
                    {name: 'Malaysia',value: 0},
                    {name: 'Namibia', value: 0},
                    {name: 'New Caledonia', value: 0},
                    {name: 'Niger',value: 0},
                    {name: 'Nigeria',value: 0},
                    {name: 'Nicaragua', value: 0},
                    {name: 'Netherlands',value: 0},
                    {name: 'Norway',value: 0},
                    {name: 'Nepal', value: 0},
                    {name: 'New Zealand',value: 0},
                    {name: 'Oman', value: 0},
                    {name: 'Pakistan',value: 0},
                    {name: 'Panama', value: 0},
                    {name: 'Peru', value: 0},
                    {name: 'Philippines',value: 0},
                    {name: 'Papua New Guinea',value: 0},
                    {name: 'Poland', value: 0},
                    {name: 'Puerto Rico', value: 0},
                    {name: 'North Korea', value: 0},
                    {name: 'Portugal',value: 0},
                    {name: 'Paraguay', value: 0},
                    {name: 'Qatar', value: 0},
                    {name: 'Romania', value: 0},
                    {name: 'Russia',value: 0},
                    {name: 'Rwanda', value: 0},
                    {name: 'Western Sahara', value: 0},
                    {name: 'Saudi Arabia', value: 0},
                    {name: 'Sudan',value: 0},
                    {name: 'South Sudan', value: 0},
                    {name: 'Senegal',value: 0},
                    {name: 'Solomon Islands', value: 0},
                    {name: 'Sierra Leone',value: 0},
                    {name: 'El Salvador', value: 0},
                    {name: 'Somaliland', value: 0},
                    {name: 'Somalia', value: 0},
                    {name: 'Republic of Serbia',value: 0},
                    {name: 'Suriname', value: 0},
                    {name: 'Slovakia', value: 0},
                    {name: 'Slovenia', value: 0},
                    {name: 'Sweden', value: 5},
                    {name: 'Swaziland', value: 0},
                    {name: 'Syria', value: 0},
                    {name: 'Chad', value: 0},
                    {name: 'Togo', value: 0},
                    {name: 'Thailand',value: 0},
                    {name: 'Tajikistan', value: 0},
                    {name: 'Turkmenistan',value: 0},
                    {name: 'East Timor', value: 0},
                    {name: 'Trinidad and Tobago', value: 0},
                    {name: 'Tunisia', value: 0},
                    {name: 'Turkey', value: 0},
                    {name: 'United Republic of Tanzania', value: 0},
                    {name: 'Uganda', value: 0},
                    {name: 'Ukraine', value: 0},
                    {name: 'Uruguay', value: 0},
                    {name: 'United States of America', value: 0},
                    {name: 'Uzbekistan', value:0},
                    {name: 'Venezuela', value: 0},
                    {name: 'Vietnam', value: 0},
                    {name: 'Vanuatu', value:0},
                    {name: 'West Bank', value: 0},
                    {name: 'Yemen', value: 0},
                    {name: 'South Africa', value: 0},
                    {name: 'Zambia', value: 0},
                    {name: 'Zimbabwe', value: 0}
                    ]
                }
            ]
        };
        myChart.setOption(option);
</script>
            </dl>
        </div>
    </form>
          <form name=alipayment action="" method=post>
        <div id="body3"  class="tab-content" name="divcontent">
            <dl class="content">

<select>
  <option value="volvo">2010</option>
  <option value="volvo">2011</option>
  <option value="saab">2012</option>
  <option value="opel">2013</option>
  <option value="audi">2014</option>
  <option value="volvo">2015</option>
  <option value="saab">2016</option>
  <option value="opel">2017</option>
  <option value="audi">2018</option>
  <option value="audi">2019</option>
</select>

                  <div id="container2" style="min-width:400px;height:400px"></div>
        <script>
            // Build the chart
Highcharts.chart('container2', {
	chart: {
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false,
		type: 'pie'
	},
	title: {
		text: '该年出访单位情况'
	},
	tooltip: {
		pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	},
	plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
				enabled: false
			},
			showInLegend: true
		}
	},
	series: [{
		name: 'Brands',
		colorByPoint: true,
		data: [{
			name: '哈佛大学',
			y: 22,
			sliced: true,
			selected: true
		}, {
			name: '麻省理工',
			y: 11
		}, {
			name: '芝加哥大学',
			y: 10
		}, {
			name: '哥伦比亚大学',
			y: 4
		}, {
			name: '牛津大学',
			y: 4
		}, {
			name: '剑桥大学',
			y: 7
		}]
	}]
});
        </script>
            </dl>
        </div>
    </form>
</div>

                </div>
                <div class="tpl-block">

                    <div class="am-g">
                        <div class="am-u-sm-12">

                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>










        </div>

    </div>


  <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>
<script language="javascript">
var tabs = document.getElementsByName('tab');
var contents = document.getElementsByName('divcontent');
len = 4;
(function changeTab(tab) {
for(var i = 0, len = tabs.length; i < len; i++) {
            tabs[i].onmouseover = showTab;
}
    })();
function showTab() {
for(var i = 0, len = tabs.length; i < len; i++) {
if(tabs[i] === this) {
                tabs[i].className = 'selected';
contents[i].className = 'show';
} else {
                tabs[i].className = '';
contents[i].className = 'tab-content';
}
        }
    }
</script>
</html>