  <h1>房间摄像头-采集人脸信息</h1>
  <img id="video" src="{{ url_for('video_viewer5') }}">
  <form class="am-form" method="post" action="/goback2">
  <input name="username" id="username"value="{{ username }}" type="text" style="display:none">
  <input name="gender" id="gender"value="{{ gender }}" type="text" style="display:none">
  <input name="age" id="age"value="{{ age }}" type="text" style="display:none">
  <input name="phone" id="phone"value="{{ phone }}" type="text" style="display:none">
  <input name="id_card" id="id_card"value="{{ id_card }}" type="text" style="display:none">
  <input name="birthday" id="birthday"value="{{ birthday }}" type="text" style="display:none">
  <input name="EmployId" id="EmployId" value="{{ EmployId }}" type="text" style="display:none">
  <input name="type" id="type" value="{{ type }}" type="text" style="display:none">
    <input name="firstguardian_name" id="firstguardian_name"value="{{  firstguardian_name }}" type="text" style="display:none">
<input name="firstguardian_relationship" id="firstguardian_relationship"value="{{  firstguardian_relationship }}" type="text" style="display:none">
<input name="firstguardian_phone" id="firstguardian_phone"value="{{  firstguardian_phone }}" type="text" style="display:none">
      <button type="submit">确认采集</button>
  </form>